<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chuti.longrange" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Distance"
            android:label="GPS"
            />
        <activity android:name=".Barometer"
            android:label="Barometer"
            />
        <activity android:name=".Rotation"
            android:label="Installation"
            />
        <activity android:name=".Test"
            android:label="Test"
            />
        <activity android:name=".RotateHorizontal"
            android:label="Installation"
            />
        <activity android:name=".Calibrate"
            android:label="Calibrate the compass"
            />
        <activity android:name=".Heading"
            android:label="Installation"
            />
    </application>

</manifest>
